*{
    background-color: #E34234;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: #4169E1;
    width: 150px;
    padding: 10px;
    font-size: 25px;
    border-radius: 3%;
    color: whitesmoke;
}

.pixel{
    background-color: #36454F;
}